.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 74px;
    background-color: $dark;
    right: 0;
    @media (max-height: 500px) {
        width: auto;
        right: 0;
        padding: 20px;
        background-color: transparent;
    }
   
}