.search {    
    $h: 80px;
    $t: 8px;
    width: 100%;
    position: absolute;
    right: 0;
    top: -$h -$t;
    transition: transform .3s ease-in-out;
    &_active {
         transform: translateY($t * 2 + $h);
     }
    &__form {
        position: relative;     
    }
    &__input {
        width: 100%;
        height: $h;
        background: #fff;
        border-radius: 20px;
        padding: 3px 40px 3px 15px;
        outline: 1px solid transparent;
        outline-offset: -1px;
        border: 0;
        &:focus {
            outline-color: #5b5b5b ;
        } 
    }
    &__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) ;
        right: 15px;
        color: $dark;
        background-color: transparent;
        border: 0;
        width: 24px;
        height: 24px;
        
    }
}