html {
    position: relative;
    box-sizing: border-box;
    min-width: 320px;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    min-width: 320px;
    min-height: 100vh;
  
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $lite;
    background-color: $dark; 
    background-image: url("../img/fire.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  
  button {
    padding: 0;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  p,
  figure,
  fieldset {
    margin: 0;
  }
  
  iframe {
    border: none;
  }
  
  /*
  Доступно скрываю элементы
  */
  
  .visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  
  /*
  Пример контейнера
  Если контейнер 1080px по макету,
  то для max-width прибавляем паддинги 30px*2, 
  в итоге 1240px
  Чтобы контент не прижимался к краям экрана
  */
  
  .container {
    max-width: 1260px;
    padding: 0 20px;
    margin: 0 auto;
  }
  
  /*
  У секции добавляю вертикальные паддинги,
  это половина от расстояния между блоками
  */
  
  // section {
  //   padding: 50px 0;
  // }
  .hidden {
    display: none;
  }
  section {
    padding-bottom: 80px;
  }