@import '_normalize';
@include normalize();
@import 'var';
@import 'fonts';
@import '_default';

@import 'blocks/_header';
@import 'blocks/_library';
@import 'blocks/_book';
@import 'blocks/_add';
@import 'blocks/_fields';
@import 'blocks/_cart';
@import 'blocks/_upload';
@import 'blocks/_status';

@import 'blocks/_search';

@import 'blocks/_footer';


@include font(montserrat, 400);
@include font(montserrat, 500);
@include font(montserrat, 700);

body {
    font-family: montserrat, sans-serif;
}