$dark: #000000;
$d:#181818;
$lite: #ffffff;

$primary: #f87c09;
$primaryLight: #ff922e;
$primaryDark: #eaaaaa;

$secondary: #eaeaea;
$secondaryDark: #6b6b6b;

@mixin tablet {
    @media(min-width: 760px) {
        @content
    }
};
@mixin laptop {
    @media(min-width: 1024px) {
        @content
    }
};
@mixin desktop {
    @media(min-width: 1280px) {
        @content
    }
}

@mixin font($name, $weight) {
    @font-face {
        font: {
            family: $name;
            weight: $weight;
            display: swap;
        }

        src: url("../fonts/#{ $name }-#{ $weight }.woff2") format("woff2"),
        url("../fonts/#{ $name }-#{ $weight }.woff") format("woff");
    }
}